<div class="absolute inset-0 flex flex-col">
  <div class="flex-1">
    <h2 class="text-4xl">Choose your level</h2>
    <p class="mb-4">トリックレべル(難易度)を選んでください</p>

    <div class="flex px-6">
      <div class="w-24">
        {{#if (eq this.game.levelType 2)}}
          {{#let (get this.game.players this.currentPlayer) as |player|}}
            <h3 class="font-bold mb-2">{{player.name}}</h3>
          {{/let}}
        {{/if}}

        <button {{on "click" this.downLevel}}>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 23.7 11.7" width="24" height="12" style="enable-background:new 0 0 23.7 11.7;" xml:space="preserve">
            <path d="M24,12L12,0L0,12H24z"/>
          </svg>
        </button>

        <button {{on "click" this.select}} class="border bg-gray-100 py-1 px-3">LEVEL{{this.currentLevel}}</button>

        <button {{on "click" this.upLevel}}>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 23.7 11.7" width="24" height="12" style="enable-background:new 0 0 23.7 11.7;" xml:space="preserve">
            <path d="M0,0l12,12L24,0H0z"/>
          </svg>
        </button>
      </div>

      <div class="text-left text-xs flex-1 mx-6">
        <p>Tricks:</p>
        <ul>
          {{#each this.tricks as |trick|}}
            <li class="mt-1">
              {{trick.enName}}
              <small class="inline-block">({{trick.jaName}})</small>
            </li>
          {{/each}}
        </ul>
      </div>

      <div class="border w-40 h-32 flex-none p-5 text-left">
        ※そのレベルの<br>
        卜リックを順番<br>
        にア二メ表示
      </div>
    </div>

    {{#if this.showConfirmation}}
      {{#if (eq this.game.levelType 1)}}
        <div class="absolute border bg-white w-4/5 inset-x-0 mx-auto top-0 p-8 mt-12">
          <p class="mb-4"><strong class="text-6xl">LEVEL{{this.currentLevel}}</strong></p>
          {{!-- <button {{on "click" this.select}} class="bg-green-500 inline-block text-white py-2 px-10 text-xl">NEXT</button> --}}
          <button {{on "click" this.select}} class="bg-green-500 text-white py-1 px-16 mr-2 text-base">NEXT</button>
          <button {{on "click" this.cancelConfirmation}} class="bg-red-500 text-white py-1 px-16 text-base">BACK</button>
        </div>
      {{/if}}

      {{#if (eq this.game.levelType 2)}}
        <div class="absolute border bg-white w-4/5 inset-x-0 mx-auto top-0 px-8 pt-4 pb-6 mt-6 text-center">
          <p>このレベルでスタートします</p>
          <div class="flex justify-center my-4">
            {{#each this.game.players as |player i|}}
              <div>
                <div class="border p-2 flex-1 mx-1 font-bold w-24 mb-1">
                  <span class="block text-lg leading-none">LEVEL</span>
                  <span class="block text-5xl leading-none">{{get this.playerLevels i}}</span>
                </div>
                {{player.name}}
              </div>
            {{/each}}
          </div>

          <button {{on "click" this.select}} class="bg-green-500 text-white py-1 px-16 mr-2 text-base">NEXT</button>
          <button {{on "click" this.cancelConfirmation}} class="bg-red-500 text-white py-1 px-16 text-base">BACK</button>
        </div>
      {{/if}}
    {{/if}}
  </div>

  <PlayersRow @currentPlayer={{this.currentPlayer}} />
</div>