<div class="absolute inset-0 flex flex-col">
  <div class="flex-1">
    <h2 class="text-4xl">Choose your level</h2>
    <p class="mb-4">難易度を選んでください</p>

    <div class="flex text-xs mb-4 justify-center">
      <button {{on "click" (fn this.selectLevelType 1)}} class="border w-40 h-32 mx-2 hover:bg-gray-100 hover:border-2 text-left p-2 {{if (eq this.levelType 1) "bg-gray-100 border-2"}}">
        全員同じ<br>
        卜リツクレベルで<br>
        ス夕一卜
      </button>

      <button {{on "click" (fn this.selectLevelType 2)}} class="border w-40 h-32 mx-2 hover:bg-gray-100 hover:border-2 text-left p-2 {{if (eq this.levelType 2) "bg-gray-100 border-2"}}">
        1人1人レベルを<br>
        選択する
      </button>

      <button {{on "click" (fn this.selectLevelType 3)}} class="border w-40 h-32 mx-2 hover:bg-gray-100 hover:border-2 text-left p-2 {{if (eq this.levelType 3) "bg-gray-100 border-2"}}">
        オ一卜ハンデ…<br>
        DENDAMA力一<br>
        ドのレベルに応じ<br>
        て自動決定(力一 ドを<br>
        挿入して〈ださい)
      </button>
    </div>
  </div>

  <PlayersRow />
</div>