<div class="absolute inset-0 flex flex-col">

  <h1 {{did-insert this.didInsertBanner}} class="round-title absolute bg-yellow-200 inset-x-0 text-6xl transform -translate-y-1/2 z-10" style="top: 50%;">
    <span class="round hidden">ROUND {{this.currentRound}}</span>
    <span class="name hidden">{{this.currentPlayerName}}</span>
  </h1>

  <div class="flex-1 flex">
    <div class="flex-none w-48 p-3 mr-8">
      <div class="flex text-sm">
        {{#if this.showMenuButton}}
          <button type="button" {{on "click" this.openMenu}} class="bg-red border-0 px-2 text-white">MENU</button>
        {{/if}}
        <h2 class="ml-2">ROUND {{this.currentRound}}/{{this.maxRounds}}</h2>
      </div>

      <div class="leading-none my-4 text-8xl">{{this.currentPoints}}</div>

      {{#if this.showStartPrompt}}
        <div class="border mx-3 text-xs p-4">
          <p>スタートしますか？</p>
          <button type="button" {{on "click" this.startRound}} class="block bg-green my-2 text-white w-full">このままスタート</button>
          <button type="button" {{on "click" this.startEditTricks}} class="block bg-red text-white w-full">レベルを変更</button>
        </div>
      {{/if}}

      {{#if this.showRoundCountdown}}
        <div class="border p-2 mx-3">
          TIME
          <div class="text-6xl leading-none">{{this.roundCountdown}}</div>
        </div>
      {{/if}}

      {{#if this.editingTricks}}
        {{#if (not this.showEditConfirmation)}}
          <p class="text-left text-xs">左右キーでトリックレベルを<br>変更できます</p>
          <div class="my-4">
            <img class="inline-block w-6 mr-2" src="/icons/button-left.svg" alt="">
            <img class="inline-block w-6" src="/icons/button-right.svg" alt="">
          </div>
          <button type="button" {{on "click" this.editSelect}} class="block bg-green text-white w-full">SELECT</button>
        {{else}}
          <p>確定しますか？</p>
          <button type="button" {{on "click" this.editSelect}} class="block bg-green my-2 text-white w-full">SELECT</button>
          <button type="button" {{on "click" this.startEditTricks}} class="block bg-red text-white w-full">BACK</button>
        {{/if}}
      {{/if}}

      {{#if this.showSuccessMessage}}
        <div class="animate__animated animate__slideInLeft animate__faster text-xl bg-yellow-200 absolute top-0 left-0 mt-28 px-6 py-3 z-1 leading-none">
          <div class="text-5xl">SUCCESS</div>
          {{#if this.showBonusPoints}}
            <div class="text-lg mt-1">BONUS +{{this.bonusPoints}}</div>
          {{/if}}
        </div>
      {{/if}}
    </div>

    <div class="flex-1 pt-2 relative">
      {{#if this.showTrickChallenge}}
        {{#let this.trickChallenge as |trick|}}
          <p class="mb-2 text-gray-800 text-sm">TRICK CHALLENGE: BEAT IT TO WIN!</p>
          <div class="bg-gray-100 flex items-center h-20 mb-2 relative transform">
            <div class="text-5xl leading-none px-2 relative">
              <div class="{{unless trick.cleared 'hidden'}} animate__animated animate__pulse animate__faster absolute top-0 left-0">
                <div class="animate__animated animate__fadeIn animate__faster  rounded-full w-16 h-16 flex items-center justify-center z-10 text-base border-2 bg-white bg-opacity-75 border-gray-300 transform -rotate-25 -mt-1 ml-1">
                  <b>CLEAR</b>
                </div>
              </div>
            </div>
            <div class="flex-1 p-2 text-left">
              <h2 class="font-bold leading-none mb-2 text-md">{{trick-property trick.key "enName"}}</h2>
              <div class="flex">
                <div class="flex-1 text-xs"><small>{{trick-property trick.key "jaName"}}</small></div>
                <span class="bg-gray-200 border block font-bold px-4 self-end text-xs">Lv{{trick-property trick.key "level"}}</span>
              </div>
            </div>
            <div class="bg-gray-200 border-l w-24 self-stretch">
              <img src="{{rootURL}}images/tricks/{{trick.key}}.gif" alt="">
            </div>

            {{#if (and this.editingTricks (eq this.currentTrick i))}}
              <button type="button" {{on "click" this.prevTrickInQueue}} class="absolute inset-y-0 left-0 transform -ml-6 w-4">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 76"><path d="M16,0,0,38,16,76Z" style="fill:#ff0"/></svg>
              </button>
              <button type="button" {{on "click" this.nextTrickInQueue}} class="absolute inset-y-0 right-0 transform -mr-6 w-4">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 76"><path d="M0,76,16,38,0,0Z" style="fill:#ff0"/></svg>
              </button>
            {{/if}}
          </div>
        {{/let}}
      {{else}}
        {{#each this.tricks as |trick i|}}
          <div class="bg-gray-100 flex items-center h-20 mb-2 relative transform {{if (and this.editingTricks (eq this.currentTrick i)) "border-yellow-400 border-2 -translate-x-6" "border border-r-0"}}">
            <div class="text-5xl leading-none px-2 relative">
              {{trick-points trick.key}}

              <div class="{{unless trick.cleared 'hidden'}} animate__animated animate__pulse animate__faster absolute top-0 left-0">
                <div class="animate__animated animate__fadeIn animate__faster  rounded-full w-16 h-16 flex items-center justify-center z-10 text-base border-2 bg-white bg-opacity-75 border-gray-300 transform -rotate-25 -mt-1 ml-1">
                  <b>CLEAR</b>
                </div>
              </div>
            </div>
            <div class="flex-1 p-2 text-left">
              <h2 class="font-bold leading-none mb-2 text-md">{{trick-property trick.key "enName"}}</h2>
              <div class="flex">
                <div class="flex-1 text-xs"><small>{{trick-property trick.key "jaName"}}</small></div>
                <span class="bg-gray-200 border block font-bold px-4 self-end text-xs">Lv{{trick-property trick.key "level"}}</span>
              </div>
            </div>
            <div class="bg-gray-200 border-l w-24 self-stretch">
              <img src="{{rootURL}}images/tricks/{{trick.key}}.gif" alt="">
            </div>

            {{#if (and this.editingTricks (eq this.currentTrick i))}}
              <button type="button" {{on "click" this.prevTrickInQueue}} class="absolute inset-y-0 left-0 transform -ml-6 w-4">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 76"><path d="M16,0,0,38,16,76Z" style="fill:#ff0"/></svg>
              </button>
              <button type="button" {{on "click" this.nextTrickInQueue}} class="absolute inset-y-0 right-0 transform -mr-6 w-4">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 76"><path d="M0,76,16,38,0,0Z" style="fill:#ff0"/></svg>
              </button>
            {{/if}}
          </div>
        {{/each}}
      {{/if}}

      {{#if this.showEditConfirmation}}
        <button type="button" {{on "click" this.editSelect}} class="border bg-gray-100 py-1 px-3 absolute left-0">確定</button>
      {{/if}}
    </div>
  </div>

  {{#if this.showStartCountdown}}
    <div class="absolute bg-white bg-opacity-75 leading-none rounded-full w-64 h-64 flex items-center justify-center transform -ml-32 -mt-32" style="font-size: 220px; top: 50%; left: 50%;">
      <span class="-mt-5">{{this.startCountdown}}</span>
    </div>
  {{/if}}

  {{#if this.showMenu}}
    <div class="absolute border bg-white w-4/5 inset-x-0 mx-auto top-0 p-4 mt-12">
      <p class="mb-4"><strong class="text-xl">MENU</strong></p>
      <ul class="text-left text-xl">
        <li class="border border-white my-1 py-1 px-2 {{if (eq this.currentMenuOption 0) "bg-gray-100 border-gray-300"}}">
          <button type="button" {{on "click" (fn this.toggleMenu false)}}>BACK TO GAME</button>
        </li>
        <li class="border border-white my-1 py-1 px-2 {{if (eq this.currentMenuOption 1) "bg-gray-100 border-gray-300"}}">
          <LinkTo @route="intro">BACK TO GAMETOP (END THIS GAME)</LinkTo>
        </li>
        <li class="border border-white my-1 py-1 px-2 {{if (eq this.currentMenuOption 2) "bg-gray-100 border-gray-300"}}">
          <button type="button" {{on "click" (fn this.startEditPoints)}}>MODIFY POINTS</button>
        </li>
        <li class="border border-white my-1 py-1 px-2 {{if (eq this.currentMenuOption 2) "bg-gray-100 border-gray-300"}}">
          <button type="button" {{on "click" (fn this.retryRound)}}>RETRY</button>
        </li>
      </ul>
    </div>
  {{/if}}

  <div class="{{unless this.showRoundEndedMessage "hidden"}} absolute w-full h-full top-0 left-0 bg-yellow-200 z-20 flex justify-center items-center">
    <div>PERFECT<br><small>PLAYER ROUND ENDED</small></div>
  </div>

  <PlayersRow @showLevel=true @showPoints=true @currentPlayer={{this.currentPlayer}} />
</div>


{{!--
Cada truco tiene distintos puntos
Si hace los 3 trucos muestra una animacion (GREAT/SUCCESS) y recibe bonus points
Sino, defrente mostrar el siguiente jugador



la idea es que los puntos bajen hasta cero
cada round reusa los puntos de cada jugador

Hay un limite de 5 rounds

Modifying points --> hasta 3 segundos del siguiente jugador

primeros 3 trucos son al azar en cada round
el jugador puede cambiarlos antes de empezar el round

en el 1er round uno confirma sus trucos y juega su turno,
luego el siguiente jugador confirma sus trucos y juega,
etc, etc, etc

en el 2do round, salen los mismos trucos del 1er round con opcion para cambiarlos



@TODO:
Choose start points (default vs manual)
game-tricks.json debe tener puntos

add these values to the config

max 4 players
max 5 rounds

despues de elegir los trucos empieza un countdown de 3 a 0

si se hace el truco ponle clear y disminuyen los puntos

hay un bonus de 20 puntos por acabar los 3 trucos por round


edge scenario = tu puntaje actual es menor a lo que se puede obtener con los trucos

en tu turno + los 3 segundos del siguiente jugador
permitir cambiar los resultados de los trucos (pag 36)
permitir resetear un turno (pag 39)


al final tengo que correr una funcion para guardar los puntos / ranking del usuario
y luego tienes una opcion para presionar el boton rojo para volver al menu principal (TOP)

 --}}